.footer-section {
    position: relative;
    padding: 50px 0 10px 0;
    background: black ;
    text-align: center;
}
.social-icons a {
    color: rgb(202, 202, 202);
    font-size: 1.5em;
    padding: 8px;
    opacity: 0.8;
}

.social-icons a:hover {
    color: #ffffff;
    background: none;
}

.copyright {
    margin-top: 15px;
    font-size: 0.8em;
    color: #bbb;
}
.up {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}


@media (max-width: 992px) {
    .service-grid-inner {
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-timing {
        flex-direction: column;
        gap: 15px;
    }
}
